<section id="footer" class="bg-dark text-white" id="footer">
	<footer class="container">
		<div class="row">
			<div class="col-md-4">
					<h3>Sobre Nosotros</h3>
					<ul>
						<li>
							 <h3 style="display: inline-block;" class="text-white" id="logop">Pizzarela</h2>
							<a href="index.html" style="display: inline-block;"><img src="img/pizza.png" alt="Logo" class="logo-footer" id="logo-footer"/></a>
						</li>
					</ul>
			</div>
			<div class="col-md-4">
				<h3>Contactenos</h3>
				<ul>
					<li><a href="https://api.whatsapp.com/send?phone=573123719263"><img
								src="img/WhatsApp_icon-icons.com_66798.ico" alt="whatsapp pizzarella"></a>
					</li>
					<li><a href="https://api.whatsapp.com/send?phone=573123719263">3123719263</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Nuestras Redes sociales</h3>
				<ul>
					<li><a href="https://www.facebook.com/pizzalera.florencia"><img
								src="img/Facebook_icon-icons.com_66805.ico" alt="whatsapp pizzarella"></a>
					</li>
					<li><a href="https://www.facebook.com/pizzalera.florencia">#PizzarelaFlorencia</a></li>
				</ul>
			</div>
		</div>
	</footer>
</section>