<nav class="barralateral bg-dark">
    <header class="admin__header">
        <a href="/" class="logo">
            <h1 class="ml-3">PIZZARELA</h1>
            <img src="./img/pizza.png" alt=" Logo" class="logo" />
        </a>
        <div class="toolbar">
            <div></div>
        </div>
    </header>
    <ul>
        <a href="./listaPedidos">
            <li>
                <div class="barra"></div>
                <p class="menu">Historial de Pedidos</p>
            </li>
        </a>
        <a href="./perfil">
            <li>
                <div class="barra"></div>
                <p class="menu">Perfil</p>
            </li>
        </a>
    </ul>
</nav>