{{> nav-admin}}
<div class="content-admin">
  <div class="card card-person bg-dark text-white" style="">
    <div class="avatar" style="background-image: url(./img/descarga.png)"></div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-dark">Nombre:</li>
      <li class="list-group-item bg-dark" >
        <p style="font-size: medium; display:inline-flex;float:left;"class="ml-5">JUAN CAMILO LOZANO CLAROS</p>
        <button type="button" class="btn btn-info ml-5 mr-5" style="float: right;">Edit</button>
      </li>
      <li class="list-group-item bg-dark">Constraseña:</li>
      <li class="list-group-item bg-dark" >
        <p style="font-size: medium; display:inline-flex;float:left;"class="ml-5">**********</p>
        <button type="button" class="btn btn-info ml-5 mr-5" style="float: right;">Edit</button>
      </li>
      <li class="list-group-item bg-dark">Correo:</li>
      <li class="list-group-item bg-dark" >
        <p style="font-size: medium; display:inline-flex;float:left;"class="ml-5">juanca.lc@gmail.com</p>
        <button type="button" class="btn btn-info ml-5float:left; mr-5" style="float: right;">Edit</button>
      </li>
      <li class="list-group-item bg-dark">Numero:</li>
      <li class="list-group-item bg-dark" >
        <p style="font-size: medium; display:inline-flex; float:left;" class="ml-5">3203446167</p>
        <button type="button" class="btn btn-info ml-5 mr-5" style="float: right;">Edit</button>
      </li>
      <li class="list-group-item bg-dark" >
        <button type="button" class="btn btn-info ml-5 mr-5">Editar foto de perfil</button>
      </li>
    </ul>
    <div class="card-body">
    </div>
  </div>
</div>
{{> footer-admin}}